SERVER_PORT="8088"

JWT_ACCESS_KEY="FsfurLblSRJFlVrFSZBG58jRs7Sawz8IE+MKul7fKE16mleHDeyOIK7zeSaMEgOj6aSUZIQF5tkUb6rRWB/aj1WWyons3G7tB0WD8kkykKVpnMeZgrRiSAT0KO3Xns11cuzBs/dmmdwbGRtyZ14QDvpOEuOAVi/GzCeMU1SR30NZ"
JWT_ACCESS_EXPIRE="60" # min

JWT_REFRESH_KEY="K84WcvNsawcxPVXwuaWgbn58AadDuiTIAEhbJrkVW9mSQaoU4lUexWkWeVZQ73FlGlLGpESDOqIykiwsR0iIootf7b+lHlrvlajH9hFJjU23P+EF5A3HYHmOyr9i84ilmMUIR/ZlFGaVxPceltfmaSid1nydBKi5TX8VV6xZE6jz"
JWT_REFRESH_EXPIRE="360" # min

POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="p4ssw0rd"
POSTGRES_DB="pgdb"

REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWORD=""
REDIS_DB="0,1"

RABBITMQ_HOST="localhost"
RABBITMQ_PORT="5672"
RABBITMQ_USER="guest"
RABBITMQ_PASSWORD="guest"

OTP_ISSUER="MESSENGER"

# Init event mode
#
# IN_SEND_LOG   Execute incoming events only, send and log new outgoing events
# IN_SEND       Execute incoming events only, send new outgoing events without logging
# IN            Execute incoming events only, ignore new outgoing events
# OUT           Execute outgoing events only
# DISABLE       Disable saving of all events
EVENT_MODE="DISABLE"
